body {
	font-family: 'Arial', sans-serif;
	background-color: #51686c;
}

* {
	font-family: 'Arial', sans-serif;
}

.container {
	width: 100%;
}
.domestic-section,
.foreign-section {
	height: 20vh;
	display: flex;
	width: 100%;
}

.header {
	color: white;
	font-weight: 900;
	text-align: center;
	font-size: 2rem;
	padding: 1.5rem 0;
	background-color: rgb(81, 104, 108);
}

.form-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.form {
	width: 100%;
	display: flex;
}
.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	width: 95%;
	height: 5rem;
	background: linear-gradient(
		8deg,
		rgba(60, 58, 56, 1) 0%,
		rgba(203, 185, 185, 1) 100%
	);
	box-shadow: 8px 8px 100px 23px rgb(39, 35, 35);
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 10px;
	font-weight: 700;
	margin: 2rem auto;
	font-size: 1.25rem;
}

.button-wrapper {
	display: flex;
}
.input {
	width: 70%;
	height: 4rem;
	border: none;
	background-color: hsl(0, 6%, 82%);
	display: flex;
	justify-content: center;
}

.input-value {
	background-color: hsl(0, 6%, 82%);
	border: none;
	width: 100%;
	padding-left: 0.75rem;
	font-size: 1rem;
}

.currencies {
	width: 30%;
	background-color: hsl(0, 6%, 82%);
	border: none;
	height: 4rem;
	font-size: 1rem;
}

.pln-name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 700;
	width: 80%;
	height: 4rem;
	background-color: hsl(0, 6%, 82%);
}

@media screen and (min-width: 768px) {
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40vh;
		width: 100%;
	}

	.pln-name {
		width: 80%;
		background-color: hsl(0, 6%, 82%);
	}

	.btn {
		width: 30%;
	}

	.btn:hover {
		background: linear-gradient(
			8deg,
			hsl(30, 2%, 16%) 0%,
			hsl(0, 5%, 50%) 100%
		);
	}

	.foreign-section {
		width: 60%;
	}

	.domestic-section {
		width: 40%;
	}

	.form-wrapper {
		margin-left: 3rem;
	}
}
